/* App Layout */

.page-container {
    padding: 24px;
    height: 100lvh;
    min-height: 800px;
    background: linear-gradient(var(--surface-background-1), var(--surface-background-2));
    display: flex;
    flex-direction: column;
    gap: 32px;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.title-container {
    max-width: 850px;
}

.nav-container {
    display: flex;
    gap: 16px;
}

.main-container {
    display: flex;
    gap: 24px;
    flex-grow: 1;
}

.canvas-container {
    width: 75%;
    flex-grow: 1;
    background-color: var(--surface-section);
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%23999999FF' stroke-width='2' stroke-dasharray='16%2c 24' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 12px;
}

.motifs-container {
    width: 25%;
    flex-grow: 1;
    background-color: var(--surface-section);
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%23999999FF' stroke-width='2' stroke-dasharray='16%2c 24' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 12px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* Media Queries */

@media screen and (max-width: 600px) {

    .page-container {
        padding: 16px;
    }

    .title-container {
        width: 100%;
        padding-top: 44px;
    }

    header {
        flex-direction: column-reverse;
        align-items: flex-end;
    }
}