/* App Layout */

.page-container {
    padding: 24px;
    height: 100vh;
    min-height: 800px;
    background: linear-gradient(var(--surface-background-1), var(--surface-background-2));
}

.title-container {
    max-width: 850px;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav-container {
    display: flex;
    gap: 16px;
}

/* Media Queries */

@media screen and (max-width: 600px) {

    .page-container {
        padding: 16px;
    }

    .title-container {
        width: 100%;
        padding-top: 44px;
    }

    header {
        flex-direction: column-reverse;
        align-items: flex-end;
    }
}